.edit_post {
    text-align: center;
}

.edit_post h2  {
    margin-bottom: .5em;
}

.edit_post p {
    color: #666; 
}

.edit_post .preview_title {
    margin-bottom: .2em; 
    color: black;
    font-weight: bold; 
}

.image_preview {
    max-width: 100%; 
    margin-bottom: 1em;
}